[Unit]
Description=Radio DAB Service
Wants=rabbitmq-server.service
Wants=radio-server.service

[Service]

Type=simple
ExecStart=/usr/share/radio/radio-dab.py
Restart=always
RestartSec=5

User=root
TasksMax=4
MemoryMax=90000
#DeviceAllow=/dev/snd/*
#DeviceAllow=/dev/shm/
#DeviceAllow=/dev/urandom
#PrivateTmp=yes
#ProtectKernelTunables=true
#ProtectHome=true
#PrivateNetwork=true

[Install]
WantedBy=multi-user.target
