#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed


%:
	dh $@


override_dh_installsystemd:
	dh_installsystemd --name=radio-api
	dh_installsystemd --name=radio-audio
	dh_installsystemd --name=radio-dab
	dh_installsystemd --name=radio-server
	dh_installsystemd --name=radio-dev-input-listener

#override_dh_auto_install:
#       dh_auto_install -- prefix=/usr

#override_dh_install:
#       dh_install --list-missing -X.pyc -X.pyo
override_dh_fixperms:
	dh_fixperms
	pwd
	chmod 755 debian/radio-alarm-backend/usr/share/radio/radio-audio.py
	chmod 755 debian/radio-alarm-backend/usr/share/radio/radio-api.py
	chmod 755 debian/radio-alarm-backend/usr/share/radio/radio-dab.py
	chmod 755 debian/radio-alarm-backend/usr/share/radio/radio-server.py
	chmod 755 debian/radio-alarm-backend/usr/share/radio/radio-dev-input-listener.py
